.panel {
    @apply flex h-full gap-8;

    label {
        @apply text-sm mt-7 mb-4 font-inter;

        .bold {
            @apply font-poppins font-semibold
        }
    }

    input {
        @apply px-4 py-[6px]
    }
}

.dropzone {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(221, 221, 221, 1)' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    @apply trans-300 select-none;

    &:hover {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(125, 74, 234, 1)' stroke-opacity='.70' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
}

.dropzone-activedrag {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(125, 74, 234, 1)' stroke-opacity='.70' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.hover-grow-all * {
    @apply trans-300;

    &:hover {
        @apply scale-[1.08]
    }
}

@mixin createBind($className, $attribute, $size, $binds) {
    @each $val in $binds {
        .#{$val} {
            @apply #{#{$attribute}-#{$val}-#{$size}
        }
    }
}
}

/*
.tr ===> rounded-tr-lg
.bl ===> rounded-bl-lg
.br ===> rounded-br-lg
*/
@include createBind('c', 'rounded', 'lg', 'tl'
    'tr'
    'bl'
    'br')