.panel {
    @apply flex h-full gap-8;

    label {
        @apply text-sm mt-7 mb-4 font-inter;

        .bold {
            @apply font-poppins font-semibold
        }
    }

    input {
        @apply px-[12px] py-[9px];
    }

    .hover-ring {
        @apply ring-4 ring-white trans-400;

        &:hover {
            @apply ring-primary ring-opacity-[0.1]
        }
    }

    .default-input {
        @extend .hover-ring;
        @apply my-2;

        &::placeholder {
            @apply font-poppins leading-[18px] text-design-gray-900 text-sm;
        }

        &:hover {
            @apply border-primary border-opacity-40
        }

        &:focus {
            @apply ring-primary border-primary ring-opacity-[0.15] border-opacity-80
        }

        &:focus-within {
            @apply outline-none border-opacity-80
        }

        @apply outline-none trans-400 w-full font-inter text-sm leading-[18px] rounded-lg min-h-[36px] border box-border border-design-gray-500
    }

    .hover-ring-high {
        @apply ring-[3px] ring-white trans-400;
    }

    .actived-switch {
        right: calc(100% - 12px);
    }

    //radio button tabpanel
    .selected-radio-tab-btn {
        @apply bg-primary bg-opacity-80 text-white delay-200
    }

    .radio-tab-hide,
    .radio-tab-show {
        @apply overflow-hidden trans-300 origin-bottom
    }

    .radio-tab-hide {
        @apply opacity-0 h-0
    }

    .radio-tab-show {
        @apply opacity-100
    }
}

.dropzone {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(221, 221, 221, 1)' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    @apply trans-300 select-none;

    &:hover {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(125, 74, 234, 1)' stroke-opacity='.70' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
}

.dropzone-activedrag {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(125, 74, 234, 1)' stroke-opacity='.70' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.hover-grow-all * {
    @apply trans-300;

    &:hover {
        @apply scale-[1.08]
    }
}

@mixin createBind($className, $attribute, $size, $binds) {
    @each $val in $binds {
        .#{$val} {
            @apply #{#{$attribute}-#{$val}-#{$size}
        }
    }
}
}

/*
.tr ===> rounded-tr-lg
.bl ===> rounded-bl-lg
.br ===> rounded-br-lg
*/
@include createBind('c', 'rounded', 'lg', 'tl'
    'tr'
    'bl'
    'br')