.panel {
    @apply flex h-full gap-8;

    label {
        @apply text-sm mt-7 mb-4 font-inter;

        .bold {
            @apply font-poppins font-semibold
        }
    }

    .default-input-padding {
        @apply px-[12px] py-[9px];
    }

    input {
        @extend .default-input-padding
    }

    ;

    //checkbox design
    input[type="checkbox"] {
        @apply p-[9px] relative cursor-pointer aspect-square appearance-none my-[6px] border border-design-gray-500 rounded-[4px] overflow-hidden bg-white trans-400;

        &::before {
            @apply block content-[url(/icons/select-check.svg)] opacity-0 absolute w-[19px] h-full text-center inset-0 ease-in-out trans-400 delay-[200ms] z-10
        }

        &::after {
            @apply content-[""] absolute w-full h-full inset-0 bg-[#1C86FA] border-[#1C86FA] scale-0 trans-200 delay-[200ms]
        }

        &.checkbox-color-primary::after {
            @apply bg-primary border-primary
        }

        &:checked {
            @apply border-transparent;

            &::after {
                @apply scale-100
            }

            &::before {
                @apply opacity-100 w-[19px] h-[18px] z-10
            }

            &+label {
                @apply font-medium
            }
        }
    }

    .hover-ring {
        @apply ring-4 ring-white trans-400;

        &:hover {
            @apply ring-primary ring-opacity-[0.1]
        }
    }

    input.default-input {
        &::placeholder {
            @apply font-poppins leading-[18px] text-design-gray-900 text-sm;
        }

        &:focus {
            @apply ring-primary border-primary ring-opacity-[0.15] border-opacity-80
        }

        &:focus-within {
            @apply outline-none border-opacity-80
        }
    }

    .default-input {
        @extend .hover-ring;
        @apply my-2;

        &:hover {
            @apply border-primary border-opacity-40
        }

        @apply outline-none trans-400 w-full font-inter text-sm leading-[18px] rounded-lg min-h-[36px] border box-border border-design-gray-500
    }

    .hover-ring-high {
        @apply ring-[3px] ring-white trans-400;
    }

    .actived-switch {
        right: calc(100% - 12px);
    }

    //radio button tabpanel
    .selected-radio-tab-btn {
        @apply bg-primary bg-opacity-80 text-white delay-200
    }

    .radio-tab-hide,
    .radio-tab-show {
        @apply overflow-hidden trans-300 origin-bottom
    }

    .radio-tab-hide {
        @apply opacity-0 h-0
    }

    .radio-tab-show {
        @apply opacity-100
    }

    //select input css
    .shadow-select {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .fill-all-primary {

        &,
        & * {
            @apply fill-primary
        }
    }

    .fill-all-gray {

        &,
        & * {
            @apply fill-[#999999]
        }
    }

    //Scrollbar Style 1
    .scrollbar-style-1 {
        @apply select-none;

        &::-webkit-scrollbar {
            @apply bg-white w-[18px]
        }

        &::-webkit-scrollbar-thumb {
            @apply overflow-hidden bg-design-gray-500 rounded-3xl p-[7px] border-[7px] border-transparent border-solid bg-clip-padding;

            &:hover {
                @apply bg-primary bg-opacity-30 trans-600
            }
        }
    }

    code {
        white-space: pre-wrap !important;
    }

    pre {
        background-color: #333333 !important;
        overflow: hidden !important;
    }
}

.dropzone {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(221, 221, 221, 1)' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    @apply trans-300 select-none;

    &:hover {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(125, 74, 234, 1)' stroke-opacity='.70' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
}

.dropzone-activedrag {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='rgba(125, 74, 234, 1)' stroke-opacity='.70' stroke-width='2' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.hover-grow-all * {
    @apply trans-300;

    &:hover {
        @apply scale-[1.08]
    }
}

@mixin createBind($attribute, $size, $binds) {
    @each $val in $binds {
        .#{$val} {
            @apply #{#{$attribute}-#{$val}-#{$size}
        }
    }
}
}

/*
.tr ===> rounded-tr-lg
.bl ===> rounded-bl-lg
.br ===> rounded-br-lg
*/
@include createBind('rounded', 'lg', 'tl'
    'tr'
    'bl'
    'br')