.popupsmart-preflight *,
.popupsmart-preflight ::before,
.popupsmart-preflight ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
.popupsmart-preflight ::before,
.popupsmart-preflight ::after {
  --tw-content: '';
}
.popupsmart-preflight html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}
.popupsmart-preflight body {
  margin: 0;
  line-height: inherit;
}
.popupsmart-preflight hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
.popupsmart-preflight abbr:where([title]) {
  text-decoration: underline dotted;
}
.popupsmart-preflight h1,
.popupsmart-preflight h2,
.popupsmart-preflight h3,
.popupsmart-preflight h4,
.popupsmart-preflight h5,
.popupsmart-preflight h6 {
  font-size: inherit;
  font-weight: inherit;
}
.popupsmart-preflight a {
  color: inherit;
  text-decoration: inherit;
}
.popupsmart-preflight b,
.popupsmart-preflight strong {
  font-weight: bolder;
}
.popupsmart-preflight code,
.popupsmart-preflight kbd,
.popupsmart-preflight samp,
.popupsmart-preflight pre {
  font-size: 1em;
}
.popupsmart-preflight small {
  font-size: 80%;
}
.popupsmart-preflight sub,
.popupsmart-preflight sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.popupsmart-preflight sub {
  bottom: -0.25em;
}
.popupsmart-preflight sup {
  top: -0.5em;
}
.popupsmart-preflight table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
.popupsmart-preflight button,
.popupsmart-preflight input,
.popupsmart-preflight optgroup,
.popupsmart-preflight select,
.popupsmart-preflight textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
.popupsmart-preflight button,
.popupsmart-preflight select {
  text-transform: none;
}
.popupsmart-preflight button,
.popupsmart-preflight [type='button'],
.popupsmart-preflight [type='reset'],
.popupsmart-preflight [type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
.popupsmart-preflight :-moz-focusring {
  outline: auto;
}
.popupsmart-preflight :-moz-ui-invalid {
  box-shadow: none;
}
.popupsmart-preflight progress {
  vertical-align: baseline;
}
.popupsmart-preflight ::-webkit-inner-spin-button,
.popupsmart-preflight ::-webkit-outer-spin-button {
  height: auto;
}
.popupsmart-preflight [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.popupsmart-preflight ::-webkit-search-decoration {
  -webkit-appearance: none;
}
.popupsmart-preflight ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.popupsmart-preflight summary {
  display: list-item;
}
.popupsmart-preflight blockquote,
.popupsmart-preflight dl,
.popupsmart-preflight dd,
.popupsmart-preflight h1,
.popupsmart-preflight h2,
.popupsmart-preflight h3,
.popupsmart-preflight h4,
.popupsmart-preflight h5,
.popupsmart-preflight h6,
.popupsmart-preflight hr,
.popupsmart-preflight figure,
.popupsmart-preflight p,
.popupsmart-preflight pre {
  margin: 0;
}
.popupsmart-preflight fieldset {
  margin: 0;
  padding: 0;
}
.popupsmart-preflight legend {
  padding: 0;
}
.popupsmart-preflight ol,
.popupsmart-preflight ul,
.popupsmart-preflight menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popupsmart-preflight textarea {
  resize: vertical;
}
.popupsmart-preflight input::placeholder,
.popupsmart-preflight textarea::placeholder {
  opacity: 1;
}
.popupsmart-preflight button,
.popupsmart-preflight [role='button'] {
  cursor: pointer;
}
.popupsmart-preflight :disabled {
  cursor: default;
}
.popupsmart-preflight img,
.popupsmart-preflight svg,
.popupsmart-preflight video,
.popupsmart-preflight canvas,
.popupsmart-preflight audio,
.popupsmart-preflight iframe,
.popupsmart-preflight embed,
.popupsmart-preflight object {
  display: block;
  vertical-align: middle;
}
.popupsmart-preflight img,
.popupsmart-preflight video {
  max-width: 100%;
  height: auto;
}
